{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
	
		{# Header #}
		{% include 'header.twig' %}

		{# Content #}
		{% block fullPage %}
			<main role="main" class="site">
				{% block content %}
				{% endblock %}
			</main>
		{% endblock %}

		{# Footer #}
		{% include 'footer.twig' %}
	</body>
</html>
