{% set categories = categories|default() %}

{% if categories %}
    <aside class="sidebar" id="sidebar">
        <ul class="sidebar-categories">
            <li class="sidebar-category">
                <span class="sidebar-category-icon">
                    <svg class="shape shape-tag sidebar-category-icon-in" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 436.4 436.4">
                        <path d="M340.4 23.2h-134a32 32 0 0 0-22.6 9.4L9.4 207a32 32 0 0 0 0 45.2l134 134a32 32 0 0 0 45.2 0L363 211.8a32 32 0 0 0 9.4-22.6v-134a32 32 0 0 0-32-32zm-56 112a24 24 0 1 1 0-48 24 24 0 0 1 0 48z"/>
                        <path d="M404.4 55.2v149a27.8 27.8 0 0 1-8.2 19.6L219 401.1l2.7 2.7a32 32 0 0 0 45.3 0l160-160a32 32 0 0 0 9.4-22.6v-134a32 32 0 0 0-32-32z"/>
                    </svg>
                </span>
            </li>
            {% for category in categories %}
                <li class="sidebar-category">
                    <a class="sidebar-category-link" href="/articles/category/{{ category.slug }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endif %}
